/* src/components/ItemList/ItemList.css */

.item-list {
  display: grid;
  /* Crea columnas flexibles que miden como mínimo 280px */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem; /* Espacio entre las tarjetas */
  padding: 2rem 0;
}